<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="false" colors="true" processIsolation="false" stopOnFailure="false" bootstrap="./tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.5/phpunit.xsd" cacheDirectory=".phpunit.cache" backupStaticProperties="false">
  <coverage>
    <report>
      <clover outputFile="build/logs/clover.xml"/>
      <html outputDirectory="build/coverage" lowUpperBound="35" highLowerBound="70"/>
      <text outputFile="php://stdout" showUncoveredFiles="true"/>
    </report>
  </coverage>
  <testsuites>
    <testsuite name="Unit tests">
      <directory>./vendor/simplesamlphp/simplesamlphp-test-framework/src</directory>
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <logging/>
  <source>
    <include>
      <directory suffix=".php">./modules/admin/src</directory>
      <directory suffix=".php">./modules/core/src</directory>
      <directory suffix=".php">./modules/cron/src</directory>
      <directory suffix=".php">./modules/exampleauth/src</directory>
      <directory suffix=".php">./modules/multiauth/src</directory>
      <directory suffix=".php">./modules/saml/src</directory>
      <directory suffix=".php">./src</directory>
    </include>
    <exclude>
      <directory>./tests</directory>
    </exclude>
  </source>
</phpunit>
