body {
font-family: Verdana, Arial, sans-serif;
}
.error {
	background: #FFEFF7;
	border: 1px solid #c69;
	margin: 1em 5% 10px;
	padding: 0 1em 0 1em;
}

.wrap {
	background: #fff;
	border: 1px solid #ccc;
	clear: both;
	margin: 15px 5%;
	padding: 1em;
}

.narrow {
	width: 450px;
	margin: auto;
}

.narrow p {
	line-height: 150%;
}

.wrap h2 {
	margin: 0 0 .5em;
	clear: both;
}

* html .wrap h2 {
	margin-top: 1em;
}

table .vers {
	text-align: center;
}

textarea.all-options, input.all-options {
	width: 250px;
}

input.disabled, textarea.disabled {
	background: #ccc;
}

#content {
	margin: 0;
	width: 100%;
}

#login input {
	filter:alpha(opacity=50);
	-moz-opacity:0.5;
	-khtml-opacity: 0.5;
	opacity: 0.5;
}
#login {
	position: relative;
	background: url('login-bkg-tile.png') no-repeat top center;
	color: #fff;
	margin: 5em auto 1em;
	padding: 20px 0 0;
	width: 425px;
	_width: 390px;
}

#login form {
	background: url('login-bkg-bottom.png') no-repeat bottom center;
	padding: 0 50px 25px;
	_width: 325px;
	_margin: 0 auto;
	min-height: 200px;
	height: auto !important; /* min-height fast hack */
	height: 200px;
}

#login #login_error {
	background: #0e3350;
	border: 1px solid #2571ab;
	color: #ebcd4e;
	font-size: 11px;
	font-weight: bold;
	padding: .6em;
	width: 310px;
	margin: 0 50px;
	text-align: center;
}

#login p { 
	font-size: 12px;
}

#login p.message { 
	width: 310px;
	margin: 0 auto 1em;
}

#login #login_error a {
	color: #ebcd4e;
	border-color: #ebcd4e;
}

#login #send {
	color: #fff;
	text-align: left;
	font-weight: normal;
	font-size: 1.1em;
	_width: 325px;
	_margin: 0 auto 15px;
}

#login h1 a {
	margin: 0 auto;
	height: 88px;
	width: 320px;
	display: block;
	border-bottom: none;
	text-indent: -9999px;
}

#login .message {
	font-size: 10pt;
	text-align: center;
}

#login .register {
	font-size: 20px;
}

#login input {
	padding: 4px;
}

.login ul, #protected #login .bottom {
	list-style: none;
	width: 325px;
	margin: 0 auto;
	padding: 0;
	line-height: 1.2;
}

.login ul li {
	font-size: 11px;
}

.login ul li a {
	color: #0d324f;
	border: none;
}

#login ul li a:hover {
	color: #fff;
}

#login .input {
	font-size: 1.8em;
	margin-top: 3px;
	width: 97%;
}

#login p label { 
	font-size: 11px;
}

#login #submit {
	margin: 0;
	font-size: 15px;
}

.plugins p {
}

#login .fullwidth {
	width: 320px;
}
