/* ***********************************************************
GENERAL
************************************************************ */
* {
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100%;
}
.wrap{
    width: 80%;
    max-width: 1100px;
    margin: auto;
    position:relative;
}
.left {
    float: left;
}

.right {
    float: right;
}
.center {
    padding: auto;
    text-align: center;
}
.v-center { /*specify a height to center vertically*/
    display: table-cell;
    vertical-align: middle;
}
h1{
    margin: 0.2em 0;
    font-size: 3em;
    font-weight: 300;
}
h2{
    margin: 50px 0 20px 0;
    font-weight: 300;
    color: #1c1c1c;
}
h3{
    font-weight: 300;
    color: #2e3436;
    padding: 0;
    margin-top: 0;
}
a{
   color: midnightblue;
}
a:hover{
    color: rgba(25,25,112,0.5);
}
.dark-bg a{
    color: #e2e2e2;
}
.dark-bg a:hover{
    color: rgba(0,0,0,0.75);
}
.overflow {
    overflow: hidden;
}
.pure-button-primary,
a.pure-button-primary {
    background-color: rgb(219, 1, 0);
    color: #fff;
}

/* ***********************************************************
HEADER
************************************************************ */
#header{
    height: 6rem;
    background-color: darkred;
    background: linear-gradient(141deg, #b8002c 0%, #db0100 51%, #e8410c 75%)
}
.logo-header{
    min-width: 8em;
    height: 6rem;
    max-width: 70%;
 }
#logo{
    font-family: sans-serif;
    font-size: 2.5em;
    color: white;
    text-shadow: 0px 3px 2px rgba(83, 41, 0, 1);
}
.simple{
    font-weight: 300;
}
.saml{
    font-family: Verdana;
    letter-spacing: -0.12em;
    font-weight: 600;
    margin-left: -0.05em;
}
.language-menu{
    font-family: FontAwesome, sans-serif;
    min-width: 10rem;
}
.language-bar {
    height: 6rem;
}

/* ***********************************************************
CONTENT
************************************************************ */
#layout {
    position: relative;
    right: 0;
    padding-right: 0;
  }
#content {
    padding-top: 2em;
    padding-bottom: 4rem;
}
.errorbox {
    padding: 1.3rem;
    margin: 0 0 1rem 0;
    background-color: #f7e4e1;
    border-left-style: solid;
    border-left-width: 0.3125rem;
    border-left-color: #cc4b37;
    position: relative;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}
.auth_methods{
    margin-top: 2em;
    width: 35%;
}
.pure-menu-item {
    border-bottom: 1px solid lightgrey;
}
.pure-menu-item:last-child {
    border-bottom: none;
}
.metadatabox{
    border:1px solid #ccc;
}
.metadata-type{
    border-bottom: 1px solid #ccc;
    background-color: #e0e0e0;
    padding: 0.5em 0 0.5em 0.5em;
}
.metadata-code{
    font-size: 1em;
    line-height: 1.15;
    padding-top: 0.5em;
}
.clipboard-btn{
    position: absolute;
    right:0;
    height: inherit;
    margin-top: -2em;
    margin-right: 4px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
}
/* ***********************************************************
FOOTER
************************************************************ */
#layout{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6rem; /*negative margin = footer height + padding-top + padding-bottom*/
}
#bottom, #push {
    height:4rem;
}
#footer {
    background-color: darkred;
    background: linear-gradient(141deg, #b8002c 0%, #db0100 51%, #e8410c 75%);
    height: 4rem;
    padding: 2rem 0 0;
    text-align: center;
}
.copyrights {
    height:4rem;
    font-size: .75em;
}
.logo-footer-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.logo-footer {
    height: 4rem;
}

/* ***********************************************************
FORMS
************************************************************ */
.xmlarea{
    margin-top: .5em;
    width:100%;
    font-size: 0.9em;
    line-height: 1.15;
}
.file-upload input[type="url"][disabled]{
    cursor: pointer;
    color: inherit;
}
input[type="file"]{
    color:black;
}
.form-align{
     position: relative;
 }
.center-form{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
.v-center-right{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

/* PURE */
.pure-button {
     border-radius: 0;
 }
.pure-form input.edge,
.pure-form textarea.edge{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pure-form-aligned .pure-controls{
     margin: 0 0 0 11em;
 }
.pure-select{
    float: right;
}
.pure-button-group .pure-button:first-child {
    border: solid 1px #E6E6E6;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
 }
.pure-button-group .pure-button:last-child {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pure-button-group .pure-button.show-files{
    background-color: transparent;
    border: solid 1px #ADADAD;
    border-right: solid 1px #ADADAD;
    overflow: hidden;
}

/* SELECTIZE */
.selectize-input,
.selectize-dropdown,
.selectize-input.dropdown-active{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.selectize-input:after{
    transform: translate(8px, 0);
}
div .item{
    float: left;
}
.selectize-dropdown{
    text-align: left;
}

.selectize-control.single .selectize-input, .selectize-dropdown.single {
    background-color: white;
    background-image: none;
    border: 1px solid #ccc;
    box-shadow: inset 0 1px 3px #ddd;
    box-sizing: border-box;
    font-size: inherit;
    padding: 0.5em 0.6em;
    display: inline-block;
    vertical-align: middle;
}


/* ***********************************************************
IMAGES
************************************************************ */
.fa {
    font-family: FontAwesome !important;
}
.fa-folder-open{
    padding: 0 0.5em;
}
#clipboard-btn{
    margin-right: 0.5em;
}
/* ***********************************************************
TABLES
************************************************************ */
.pure-table-attributes{
    width:100%;
}
table.attributes ul{
    padding: inherit;
}
/* ***********************************************************
MEDIA QUERIES
************************************************************ */

@media screen and (max-width: 480px) {
    .pure-form .pure-input-sm-1-1{
        width: 100%;
    }
}
@media screen and (max-width: 39.9375em) {
    .hide-for-small-only {
        display: none !important;
    }
    .selectize-input{
        padding-right: 0.1rem;
    }
    body {
        font-size:75%;
    }
    .wrap{
        width: 90%;
    }
    .pure-form-aligned .pure-controls{
        margin: 0.5em 0 0;
        float: left;
    }
    #layout {
        padding-top: 0;
    }
    .auth_methods {
        width: 60%;
    }
    #logo{
        font-size: 1.8em;
    }
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
    .show-for-small-only {
        display: none !important;
    }
    .input-sm-placeholder {
        display: inline-block;
    }
}

@media screen and (min-width: 40em) and (max-width: 63.9375em) {
    .hide-for-medium-only {
        display: none !important;
    }
    body{
        font-size: 85%;
    }
}
@media screen and (max-width: 39.9375em) {
    .show-for-medium {
        display: none !important;
    }
}

@media screen and (max-width: 39.9375em), screen and (min-width: 64em) {
    .show-for-medium-only {
        display: none !important;
    }
}
@media screen and (min-width: 64em) {
    .hide-for-large {
        display: none !important;
    }
}
@media screen and (max-width: 63.9375em) {
    .show-for-large {
        display: none !important;
    }
}


