/* ***********************************************************
GENERAL
************************************************************ */
* {
    margin:0;
    padding:0;
}
html, body{
    height: 100%;
}
body {
    font-family: sans-serif;
    line-height: 1.5;
    min-height: 100%;
}
.wrap{
    width: 80%;
    max-width: 1100px;
    margin: auto;
    position:relative;
}
.left {
    float: left;
}

.right {
    float: right;
}
.center {
    padding: auto;
    text-align: center;
}
.v-center { /*specify a height to center vertically*/
    display: table-cell;
    vertical-align: middle;
}

/* ***********************************************************
HEADER
************************************************************ */
#header{
    height: 6rem;
    background-color: darkcyan;
}
.logo-header{
    min-width: 8em;
    height: 6rem;
}
.language-menu{
    font-family: FontAwesome, sans-serif;
    min-width: 10rem;
}
.language-bar {
    height: 6rem;
}

/* ***********************************************************
CONTENT
************************************************************ */
#content {
    padding-top: 2em;
    padding-bottom: 4rem;
}
.errorbox {
    padding: 1.3rem;
    margin: 0 0 1rem 0;
    background-color: #f7e4e1;
    border-left-style: solid;
    border-left-width: 0.3125rem;
    border-left-color: #cc4b37;
    position: relative;
    box-shadow: 0 5px 8px -6px rgba(0, 0, 0, 0.2);
}

/* ***********************************************************
FOOTER
************************************************************ */
.container{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -6rem; /*negative margin = footer height + padding-top + padding-bottom*/
}
#bottom, #push {
    height:4rem;
}
#footer {
    background-color: darkcyan;
    height: 4rem;
    padding: 2rem 0 0;
    text-align: center;
}
.copyrights {
    height:4rem;
    font-size: .75em;
}
.logo-footer-right{
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0, -50%);
}
.logo-footer {
    height: 4rem;
}

/* ***********************************************************
FORMS
************************************************************ */
.textarea{
    width:100%;
    font-size: 0.9em;
    line-height: 1.15;
}
.file-upload input[type="url"][disabled]{
    cursor: pointer;
    color: inherit;
}
input[type="file"]{
    color:black;
}
.form-align{
     position: relative;
 }
.center-form{
    display: inline-block;
    margin-right: auto;
    margin-left: auto;
}
.v-center-right{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0, -50%);
}

/* PURE */
.pure-button {
     border-radius: 0;
 }
.pure-form input.edge{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.pure-form-aligned .pure-controls{
     margin: 0 0 0 11em;
 }
.pure-select{
    float: right;
}
/* SELECTIZE */
.selectize-input, .selectize-dropdown, .selectize-input.dropdown-active{
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}
.selectize-input:after{
    transform: translate(8px, 0);
}
div .item{
    float: left;
}
.selectize-dropdown{
    text-align: left;
}

/* ***********************************************************
IMAGES
************************************************************ */
.fa {
    font-family: FontAwesome !important;
}
#clipboard-btn{
    margin-right: 0.5em;
}
/* ***********************************************************
TABLES
************************************************************ */
.pure-table-attributes{
    width:100%;
}
table.attributes ul{
    padding: inherit;
}
/* ***********************************************************
MEDIA QUERIES
************************************************************ */

@media screen and (max-width:480px) {
    body {
        font-size: 0.875em;
    }
    .wrap{
     width: 90%;
    }
    .pure-form .pure-input-sm-1-1{
        width: 100%;
    }
    .pure-form-aligned .pure-controls{
        margin: 0.5em 0 0;
        float: left;
    }
    #content {
        padding-top: 0;
    }
}
@media screen and (max-width: 39.9375em) {
    .hide-for-small-only {
        display: none !important; }
    .selectize-input{
        padding-right: 0.1rem;
    }
}

@media screen and (max-width: 0em), screen and (min-width: 40em) {
    .show-for-small-only {
        display: none !important;
    }
    .input-sm-placeholder {
        display: inline-block;
    }
}

@media screen and (min-width: 40em) {
    .hide-for-medium {
        display: none !important; } }

@media screen and (max-width: 39.9375em) {
    .show-for-medium {
        display: none !important; } }


/*@media screen and (min-width: 40em) { !*640*! w/ font-size:16pt*/

/*}*/
/*@media screen and (min-width: 64em) { !*1024px*!*/

/*}*/
/*@media screen and (max-width: 18.75em) { !*528*!*/

/*}*/

