core-welcome:
    path:       /welcome
    defaults:   { _controller: 'SimpleSAML\Module\core\Controller\Login:welcome' }
core-account-disco-clearchoices:
    path:       /account/disco/clearchoices
    defaults:   { _controller: 'SimpleSAML\Module\core\Controller\Login:cleardiscochoices' }
core-logout:
    path:       /logout/{as}
    defaults:   { _controller: 'SimpleSAML\Module\core\Controller\Login:logout' }
core-error-nocookie:
    path:       /error/nocookie
    defaults:   { _controller: 'SimpleSAML\Module\core\Controller\Exception:nocookie' }
core-cardinality:
    path:       /error/cardinality
    defaults:   { _controller: 'SimpleSAML\Module\core\Controller\Exception:cardinality' }
core-warning-shortssointerval:
    path:       /warning/short_sso_interval
    defaults:   { _controller: 'SimpleSAML\Module\core\Controller\Exception:shortSsoInterval' }
core-post-redirect:
    path:       /postredirect
    defaults:   { _controller: 'SimpleSAML\Module\core\Controller\Redirection:postredirect' }
core-legacy-welcome:
    path:       /frontpage_welcome.php
    defaults:   { _controller: 'Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction', path: /admin/, permanent: true }
core-legacy-config:
    path:       /frontpage_config.php
    defaults:   { _controller: 'Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction', path: /admin/, permanent: true }
core-legacy-auth:
    path:       /frontpage_auth.php
    defaults:   { _controller: 'Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction', path: /admin/test, permanent: true }
core-legacy-federation:
    path:       /frontpage_federation.php
    defaults:   { _controller: 'Symfony\Bundle\FrameworkBundle\Controller\RedirectController::urlRedirectAction', path: /admin/federation, permanent: true }
