{% extends "@core/base.twig" %}
{% set pagetitle = '{core:frontpage:page_title}'|trans %}
{% block content %}
{% if isadmin %}
<p class="float-r youareadmin">{% trans "{core:frontpage:loggedin_as_admin}" %} </p>
{% else %}
<p class="float-r youareadmin"><a href="{{ loginurl }}">{% trans "{core:frontpage:login_as_admin}" %}</a></p>
{% endif %}

<p>{% trans '{core:frontpage:intro}' %}</p>

<ul>
{% for link in links_welcome %}
    <li><a href="{{ link.href }}">{{ link.text|trans }}</a></li>
{% endfor %}
</ul>

<h2>{% trans '{core:frontpage:about_header}' %}</h2>

<p>{% trans '{core:frontpage:about_text}' %}</p>
{% endblock %}
