        <div id="footer">
            <div class="wrap">
                <div class="center copyrights dark-bg">
                    <br>Copyright © 2007-2018
                    <a href="https://www.simeplsamlphp.org/">SimpleSAMLphp</a>
                </div>
                <div class="logo-footer-right">
                    <div class="logo-footer">
                        <img class="pure-img" src="/{{ baseurlpath }}resources/icons/ssplogo-fish-small.png" alt="Small fish logo">
                    </div>
                </div>
            </div>
        </div>
