        <div id="footer">
            <div class="wrap">
                <p class="center copyrights dark-bg">
                    <br>Copyright © 2007-2017
                    <br>
                    <i class="fa fa-github" aria-hidden="true"></i> <a href="https://github.com/simplesamlphp/simplesamlphp">SimpleSAMLphp</a>
                </p>
                <div class="logo-footer-right">
                    <div class="logo-footer">
                        <img class="pure-img" src="/{{ baseurlpath }}resources/icons/ssplogo-fish-small.png" alt="Small fish logo">
                    </div>
                </div>
            </div>
        </div>
