<!DOCTYPE html>
<html>
    <head>
        <title>Logout response from {{ assocId|escape('html') }}</title>
        <script>
{% if error %}
            window.parent.logoutFailed("{{ spId }}", "{{ errorMsg|escape }}");
{% else %}
            window.parent.logoutCompleted("{{ spId }}");
{% endif %}
        </script>
    </head>
    <body>
    </body>
</html>

