{% extends "base.twig" %}
{% block content %}
    <p>This page exists as a sandbox to play with twig without affecting anything else. The template is in ./templates.</p>
    <p>{{ sometext }}</p>
    <p>Current locale set: {{ currentLanguage }}</p>
{% endblock content %}
